{% extends "base.html" %}
{% block title %}
    FYF - admin page
{% endblock title %}
{% block news %}
{% endblock news %}
{% block content %}
    <div id="content">
        <h1>Admin panel</h1>
        <div class="view_lists">
            {% for admin_item in [
                (SiteLogic.category, 'category'),
                (SiteLogic.courses, 'courses'),
                (SiteLogic.teachers, 'teachers'),
                (SiteLogic.students, 'students')
                ] %}
                <div class="category_list">
                    <h2>{{ admin_item[1] }}</h2>
                    <ul class="admin_item_list">
                        {% for item in admin_item[0] %}
                            <li>
                                <p>{{ item.name }}</p>
                                <p>
                                    <a href={{ router( admin_item[1] + '_edit', id=item.index) }}>Edit</a>|
                                    <a href={{ router(admin_item[1] + '_copy', id=item.index) }}>Copy</a>|
                                    <a href={{ router( admin_item[1] + '_delete', id=item.index) }}>Delete</a>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href={{ router(admin_item[1] + '_add') }}>add</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
