<!DOCTYPE HTML>
<html lang="eng">
    <head>
        <title>
            {% block titile %}
                stylesheet_8
            {% endblock titile %}
        </title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
        <link rel="stylesheet"
              type="text/css"
              href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1"/>
        <link rel="stylesheet"
              type="text/css"
              href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz"/>
        <link rel="stylesheet" type="text/css" href={{ static("style/style.css") }} />
    </head>
    <body>
        <div id="main">
            <!-- header -->
            <div class="framework_debug">!!!! DEBUG MODE !!!!</div>
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="#">FYF</a>
                    </h1>
                    <div class="slogan">Find You Feature</div>
                </div>
                <!-- navigate -->
                {% block navigate %}
                    {% include "navigate.html" %}
                {% endblock navigate %}
                <!-- navigate -->
            </div>
            <!-- header -->
            <div id="site_content">
                <!-- news -->
                {% block news %}
                    {% include "news.html" %}
                {% endblock news %}
                <!-- news -->
                {% block content %}
                    CONTENT
                {% endblock content %}
            </div>
        </div>
        {% include "footer.html"  %}
    </div>
</body>
</html>
