{% extends "base.html" %}
{% block content %}
    <div id="content">
        <h1>Courses</h1>
        <div class="course_list">
            {% for course_item in courses %}
                <div class="course_item">
                    <a href="#">
                        <div class="course_header">{{ course_item.name }}</div>
                        <div class="course_type">{{ course_item.course_type() }}</div>
                        <div class="course_body">
                            <img src={{ static('style/graphic.png') }} alt="courses_image" />
                        </div>
                        <div class="course_fotter">Positive: 0 | Negative: 0</div>
                        {% if is_auth %}
                            {% if not __ClientAuth__.index in course_item.clients_index  %}
                                <form method="POST">
                                    <button name="course_index" value={{ course_item.index }}>Registartion
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
