{% extends "base.html" %}
{% block content %}
    <div id="content">
        <h1>Curses</h1>
        <div class="cusres_list">
            {% for i in [1,2,3,4,5,6,7,8,10,11] %}
                <div class="curse_item">
                    <a href={{ router('curse_item', id=i) }}>
                        <div class="curse_header">Curse #{{ i }}</div>
                        <div class="curse_type">CurseType</div>
                        <div class="curse_body">
                            <img src={{ static('style/graphic.png') }} alt="curses_image" />
                        </div>
                        <div class="curse_fotter">Positive: 0 | Negative: 0</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
