{% block navigate %}
    <div id="menubar">
        <ul id="menu">
            <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
            <li {% if is_router('main') %} class="current" {% endif %}>
                <a href={{ router('main') }}>Home</a>
            </li>
            <li {% if is_router('courses_list') %} class="current" {% endif %}>
                <a href={{ router('courses_list') }}>Courses List</a>
            </li>
            {% if not is_auth %}
                <li {% if is_router('login') %} class="current" {% endif %}>
                    <a href={{ router('login') }}>Login</a>
                </li>
            {% else %}
                <li {% if is_router('profile') %} class="current" {% endif %}>
                    <a href={{ router('profile') }}>Proffile</a>
                </li>
            {% endif %}
            <li {% if is_router('admin') %} class="current" {% endif %}>
                <a href={{ router('admin') }}>Admin panel</a>
            </li>
            <li {% if is_router('contact') %} class="current" {% endif %}>
                <a href={{ router('contact') }}>Contact Us</a>
            </li>
        </ul>
    </div>
{% endblock navigate %}
