{% block navigate %}
    <div id="menubar">
        <ul id="menu">
            <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
            <li {% if is_router('main') %} class="current" {% endif %}>
                <a href={{ router('main') }}>Home</a>
            </li>
            <li {% if is_router('examples') %} class="current" {% endif %}>
                <a href={{ router('examples') }}>Examples</a>
            </li>
            <li {% if is_router('page') %} class="current" {% endif %}>
                <a href={{ router('page') }}>A Page</a>
            </li>
            <li {% if is_router('another_page') %} class="current" {% endif %}>
                <a href={{ router('another_page') }}>Another Page</a>
            </li>
            <li {% if is_router('contact') %} class="current" {% endif %}>
                <a href={{ router('contact') }}>Contact Us</a>
            </li>
        </ul>
    </div>
{% endblock navigate %}
